/* Стили для карточек можно оставить те же, что и у вас */

#about-me {
    background-color: #212529; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
    color: white
}

#prices {
    background-color: #212529; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
    color: white
}

#prices {
    background-color: #212529; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
    color: white
}

#location {
    background-color: #212529; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
    color: white
}

#contact {
    background-color: #212529; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
    color: white
}

footer {
    background-color: #212529 !important; /* Цвет фона */
    background-size: cover; /* Масштабирование фона */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff !important;
}

.btn-primary{
    background-color: #88709D !important; /* Цвет фона */
}

.badge-primary{
    background-color: #88709D !important; /* Цвет фона */
}
