
.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-icons a {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff; /* Измените цвет при наведении */
}

.phone-link {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.phone-link i {
    margin-right: 10px;
}

.phone-link:hover {
    color: #007bff; /* Цвет при наведении на телефон */
}