@media (max-width: 767px) {
    /* Стили для устройств с шириной экрана до 767px (мобильные устройства) */
    .header-inner {
        text-align: center; /* Центрирование контента */
    }
    .navbar-logo img {
        display: none;
    }
}

.navbar-toggler {
    border-color: #fff; /* Цвет кнопки-бургера */
  }

.professional-title {
    word-wrap: break-word !important; /* Перенос длинных слов */
    word-break: break-word !important; /* Перенос на новую строку при необходимости */
    white-space: normal !important; /* Позволяет тексту переноситься */
    display: inline-block !important; /* Превращает элемент в блоковый */
    width: 100% !important; /* Расширяет элемент на всю ширину родителя */
    text-align: center !important; /* Центрирование текста */
}

#languageToggle {
    margin-left: auto; /* Сдвигаем кнопку к правой стороне */
    padding: 5px 10px; /* Настраиваем отступы внутри кнопки */
    font-size: 14px; /* Размер шрифта */
    background-color: #88709D;
}