.pricing-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.pricecard {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    min-height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricecard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.discount {
    background-color: #ff5e57;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

.pricecard h3 {
    font-size: 20px;
    margin: 30px 0;
}

.pricecard p {
    color: gray; /* Серый текст для абзацев, например, "Действует 30 дней" */
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #1F2937; /* Тёмный текст для списка, чтобы выделить его */
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

.btn {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #e0a800;
}

/* Для карточек вокала */
.pricecard.vocal {
    background-color: #dce1ef;
    color: #1F2937;
    border: 2px solid #7b7b7b;
}

/* Для карточек фортепиано */
.pricecard.piano {
    background-color: #d0d6d7;
    color: #1F2937;
    border: 2px solid #7b7b7b;
}

/* Адаптация для мобильных устройств */
@media (max-width: 767px) {
    .pricecard {
        width: 100%; /* Карточки занимают всю ширину экрана */
        margin-bottom: 20px; /* Отступ снизу */
    }

    .pricecard p {
        font-size: 18px;
        color: gray; /* Серый текст в мобильной версии */
    }

    ul li {
        font-size: 18px; /* Увеличиваем размер текста на мобильных устройствах */
        color: #1F2937; /* Темный текст в списке на мобильных */
    }

    .price {
        font-size: 24px; /* Немного увеличиваем цену */
    }
}
